[mysqld]
# 🌟 文字コード（日本語・絵文字の文字化け防止）
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 🌟 タイムゾーン（DB内の時間を日本時間に統一）
default-time-zone = '+09:00'

[mysql]
# クライアント側（CLI等）の文字コード
default-character-set = utf8mb4

[client]
# 各種ツール等から接続する際の文字コード
default-character-set = utf8mb4
